* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  scrollbar-color: #ef4b6e #efefef;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #ef4b6e;
}
*::-moz-scrollbar {
  width: 10px;
}

*::-moz-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-moz-scrollbar-thumb {
  background-color: #ef4b6e;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #ef4b6e;
}

::selection {
  color: #fff;
  background: #ef4b6e;
}

.konten {
  width: 85%;
  position: relative;
  margin: 0 auto;
}

/* fallback */
.main-content {
  margin-top: 20px;
  z-index: 1;
  position: relative;
  background-color: #fff;
  margin-bottom: 300px;
}

.top-nav {
  background-color: #fff;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 3;
}

.top-nav .konten {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 10px 0;
  width: 270px;
}
.logo img {
  width: 100%;
}

.top-nav-right ul {
  list-style: none;
  display: flex;
}

.top-nav-right ul li {
  margin-left: 5px;
}

.top-nav-right ul li a {
  color: #111;
  font-size: 22px;
  padding: 8px 12px;
  border-radius: 100%;
  transition: 0.2s ease all;
  font-weight: 300;
}

.top-nav-right ul li a:hover {
  box-shadow: inset 3rem 0 0 0 #ef4b6e;
  color: #fff;
}

/* desktop-menu */
@media screen and (min-width: 1400px) {
  .bot-nav {
    background-color: #fff;
    position: sticky;
    top: 115px;
    left: 0;
    width: 100%;
    transition: all 0.3s ease;
    padding: 15px 0;
    z-index: 2;
  }
  .bot-nav .konten {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bot-nav .konten nav > ul {
    list-style: none;
    display: flex;
  }
  .bot-nav .konten nav > ul > li > a {
    text-decoration: none;
    color: #111;
    padding: 15px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }

  .bot-nav .konten nav > ul > li > a:hover {
    opacity: 0.7;
  }

  .menu-item-has-children {
    position: relative;
  }

  .sub-menu {
    position: absolute;
    list-style: none;
    top: 40px;
    width: 220px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease all;
  }

  .menu-item-has-children:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 33px;
  }

  .sub-menu li a {
    background-color: #111;
    color: #efefef;
    display: flex;
    padding: 15px;
    text-decoration: none;
    transition: 0.2s ease all;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;
  }

  .sub-menu li a:hover {
    color: #ef4b6e;
  }
  .sidebar-close {
    display: none;
  }

  .bot-nav-socials {
    display: none;
  }
}

/* mobile-menu */
@media screen and (max-width: 1400px) {
  #burger-menu {
    cursor: pointer;
    height: 25px;
    width: 25px;
    overflow: visible;
    position: relative;
    top: 0;
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: #111;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 25px;
  }
  #burger-menu span:before {
    right: 0px;
    top: -8px;
    width: 25px;
  }
  #burger-menu span:after {
    right: 0px;
    top: 8px;
    width: 25px;
  }

  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 25px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 25px;
  }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }

  .bot-nav {
    position: fixed;
    left: -400px;
    top: 0;
    width: 300px;
    height: 100vh;
    z-index: 4;
    background-color: #fff;
    transition: 0.2s ease all;
  }

  .sidebar-active {
    left: 0;
  }
  .sidebar-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .sidebar-close span {
    font-size: 20px;
    display: inline-block;
    transform: scale(1.2, 1);
    font-weight: 500;
    padding: 10px 0 10px 10px;
    cursor: pointer;
  }

  .sidebar-icon {
    user-select: none;
  }

  .bot-nav ul {
    list-style: none;
  }
  .bot-nav .konten nav > ul > li > a {
    text-decoration: none;
    color: #111;
    padding: 13px 0;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
    user-select: none;
  }

  .menu-item-has-children {
    position: relative;
  }

  .menu-item-has-children i {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    padding: 14px 10px;
    cursor: pointer;
    transition: 0.2s ease all;
  }

  .rotate-i {
    transform: rotate(90deg);
  }

  .sub-menu {
    display: none;
  }

  .bot-nav .konten nav > ul > li > .sub-menu > li > a {
    text-decoration: none;
    color: #111;
    padding: 10px 0;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    background-color: #efefef;
    padding: 10px;
    border-bottom: 1px solid #dadada;
  }

  .sub-menu-active {
    display: block;
  }

  .bot-nav-socials {
    margin-top: 50px;
  }

  .bot-nav-socials ul {
    list-style: none;
    display: flex;
  }

  .bot-nav-socials ul li {
    margin-right: 10px;
  }

  .bot-nav-socials ul li a {
    color: #fff;
    font-size: 22px;
    padding: 6px 11px;
    border-radius: 100%;
    transition: 0.2s ease all;
    font-weight: 300;
    background-color: #ef4b6e;
  }

  .sidebar-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #111;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease all;
  }
  .sidebar-overlay-active {
    opacity: 0.2;
    visibility: visible;
  }
}

/* first-content */
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
}

.slideshow-container img {
  max-height: 75vh;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.slider-overlay {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.5;
}

.slider-content {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.slider-h1 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.2px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.slider-h2 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}

.slider-button a {
  text-decoration: none;
  color: #111;
  background-color: #fff;
  padding: 10px 50px;
  transition: 0.3s ease all;
  border-radius: 5px;
  font-weight: 600;
}

.slider-button a:hover {
  box-shadow: inset 3rem 3rem 0 0 #ef4b6e;
  color: #fff;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: 400;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* second content */

.parallax-section {
  display: grid;
  place-items: center;
  width: 100%;
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.parallax-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  opacity: 0.2;
}

.parallax-inner {
  border: 1px solid #fff;
  width: 30%;
  padding: 50px 0;
  text-align: center;
  position: relative;
  transition: 0.3s ease all;
}

.parallax-inner:hover {
  box-shadow: inset 2px 2px 0px 0px #fff;
}

.parallax-h1 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #fff;
}

.parallax-h2 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
}

.parallax-button a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 50px;
  transition: 0.3s ease all;
  border-radius: 5px;
  font-weight: 600;
}

.parallax-button a:hover {
  box-shadow: inset 3rem 3rem 0 0 #fff;
  color: #111;
}

.search-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  top: 0;
  left: 0;
}

.search-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  opacity: 0.7;
}

.search-overlay-active {
  opacity: 1;
  visibility: visible;
}

.search-overlay-close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  padding: 20px;
  display: block;
  width: 17px;
  height: 17px;
}

.search-overlay-close:before,
.search-overlay-close:after {
  content: "";
  width: 5px;
  height: 40px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 20px;
  transform: rotate(45deg);
}

.search-overlay-close:after {
  transform: rotate(-45deg);
}

.search-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-overlay input[type="text"] {
  padding: 10px 20px;
  padding-right: 250px;
  font-size: 17px;
  border: 1px solid #efefef;
  background: transparent;
  border-radius: 20px;
  color: #fff;
  outline: 0;
}

.search-overlay input[type="text"]::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--clr-dark-white);
  opacity: 1; /* Firefox */
}

.search-overlay input[type="text"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--clr-dark-white);
}

.search-overlay input[type="text"]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--clr-dark-white);
}

/* Style the submit button */
.search-overlay button {
  margin-left: -45px;
  font-size: 17px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #fff;
  padding: 20px 10px;
}

/* footer */
footer {
  background-color: #111;
  position: fixed;
  width: 100%;
  height: 300px;
  bottom: 0;
  left: 0;
}

.footer-mid {
  margin: 50px 0;
}
.footer-mid .konten {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20%;
}

.footer-list {
  width: 100%;
}

.footer-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.footer-mid ul {
  list-style: none;
  padding-left: 0;
}

.footer-mid ul li {
  margin-top: 10px;
}

.footer-mid ul li a {
  color: #ccc;
  text-decoration: none;
  margin-right: 25px;
  transition: 0.2s ease all;
  font-weight: 300;
}
.footer-mid ul li a:hover {
  color: #fff;
}

.footer-bottom .konten {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #333;
  color: #fff;
  padding: 20px 0;
}

.footer-copy {
  color: #ccc;
}

.footer-copy a {
  color: #ccc;
  text-decoration: none;
}

.footer-copy a:hover {
  color: #fff;
}

.footer-socials ul {
  list-style: none;
  display: flex;
}

.footer-socials ul li a {
  color: #ccc;
  font-size: 22px;
  padding: 10px;
}

@media screen and (max-width: 1480px) {
  .footer-mid .konten {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 30px;
  }
  footer {
    height: 420px;
  }
  .main-content {
    margin-bottom: 400px;
  }

  .eleventh-blog {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 1000px) {
  .parallax-inner {
    width: 50%;
    padding: 30px;
    box-shadow: inset 2px 2px 0 0 #fff;
  }

  .parallax-button a {
    color: #111;
    background-color: #fff;
  }
}

@media screen and (max-width: 780px) {
  .logo {
    width: 170px;
    margin: 0 20px;
  }
  .top-nav-right ul li {
    margin-left: 15px;
  }
  .top-nav-right ul li:first-child {
    margin-left: 0;
  }
  .top-nav-right ul li a {
    padding: 0;
    font-size: 18px;
  }
  #burger-menu {
    width: 25px;
    height: 15px;
    margin-top: -10px;
  }
  #burger-menu span,
  #burger-menu span::before,
  #burger-menu span::after {
    width: 25px;
    height: 2px;
  }

  .slider-h1 {
    font-size: 12px;
  }
  .slider-h2 {
    font-size: 22px;
  }

  .slider-button a {
    padding: 7px 30px;
  }
  .slider-content {
    width: 100%;
  }

  .footer-mid .konten {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 30px;
    gap: 10%;
    grid-row-gap: 20%;
  }

  .footer-list {
    display: grid;
    place-items: center;
  }

  .footer-list ul {
    display: grid;
    place-items: center;
  }

  .footer-mid ul li a {
    margin-right: 0;
  }
  footer {
    height: 435px;
  }
  .footer-title {
    font-size: 15px;
  }

  .footer-bottom .konten {
    flex-direction: column;
  }

  .footer-socials {
    margin-top: 15px;
  }

  .parallax-inner {
    width: 70%;
    padding: 20px;
  }

  .parallax-h1 {
    font-size: 12px;
  }
  .parallax-h2 {
    font-size: 22px;
  }

  .parallax-button a {
    padding: 7px 30px;
  }

  .eleventh-blog {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

/* wordpress */
.page-title {
  margin: 0px 0 30px 0;
  font-weight: 600;
  letter-spacing: 1.1px;
}

.page-text p {
  font-size: 17px;
  line-height: 30px;
}

.ayarla {
  padding: 30px 0 50px 0;
}

/* eleventh-content */

.eleventh-blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 20px;
  padding: 20px 0 60px 0;
}

.eleventh-blog-card {
  transition: all 0.4s ease;
}

.eleventh-blog-card-header {
  overflow: hidden;
  position: relative;
}

.eleventh-blog-date {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px 15px 6px 15px;
  background-color: #ef4b6e;
}

.eleventh-blog-date span:first-child {
  font-family: "Exo", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.eleventh-blog-date span:last-child {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.eleventh-blog-card-header img {
  width: 100%;
  transition: all 0.4s ease;
  height: 100%;
}

.eleventh-blog-card-content {
  background-color: #111;
  padding: 40px 20px;
  color: #fff;
}

.eleventh-blog-meta {
  display: flex;
  margin-bottom: 11px;
}

.eleventh-blog-title {
  margin-bottom: 3px;
}

.eleventh-blog-title a {
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  font-size: 22px;
  font-family: "Exo", sans-serif;
  font-weight: 700;
  transition: all 0.4s ease;
}
.eleventh-blog-card:hover .eleventh-blog-title a {
  color: #ef4b6e;
}

.eleventh-blog-card:hover .eleventh-blog-card-header img {
  transform: scale(1.05) rotate(2deg);
  opacity: 0.8;
}

.eleventh-blog-card:hover {
  transform: translateY(-10px);
}

.view-article {
  display: none;
}

/* form */
.iletisim-form .screen-reader-response {
  display: none;
}
.iletisim-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

@media (max-width: 450px) {
  .iletisim-form form {
    display: block;
  }

  .iletisim-form form p:nth-child(7) {
    margin-top: -25px !important;
    margin-bottom: 20px !important;
  }
  .iletisim-form form p:nth-child(8) {
    margin-top: 0 !important;
  }
}

.iletisim-form form p:nth-child(6) {
  grid-column: 1/3;
}
.iletisim-form form p:nth-child(7) {
  grid-column: 1/3;
  margin-top: -60px;
}
.iletisim-form form p:nth-child(8) {
  grid-column: 1/3;
  margin-top: -30px;
}

.iletisim-check label {
  display: flex;
  align-items: center;
}

.iletisim-check a {
  color: #111;
  text-decoration: none;
  font-weight: 600;
}

.iletisim-form form input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.iletisim-form form input[type="text"],
.iletisim-form form input[type="date"],
.iletisim-form form input[type="tel"],
.iletisim-form form input[type="email"],
.iletisim-form form textarea {
  width: 100%;
  padding: 10px 2px;
  border: 0;
  outline: 0;
  background-color: transparent;
  border-bottom: 3px solid #ef4b6e;
  border-image-slice: 1;
  border-width: 3px;
  margin-bottom: 15px;
  transition: 0.3s ease opacity;
}

.iletisim-form form label {
  font-size: 14px;
  font-weight: 500;
  color: #111;
}

.iletisim-form ::placeholder {
  color: #111;
}

.iletisim-form form input[type="text"]:hover,
.iletisim-form form input[type="email"]:hover,
.iletisim-form form textarea:hover {
  opacity: 0.7;
}

.iletisim-form form input[type="submit"] {
  background: transparent;
  border: 2px solid #111;
  color: #111;
  padding: 9px 40px;
  font-weight: 500;
  transition: 0.4s ease all;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.iletisim-form form input[type="submit"]:hover {
  box-shadow: inset 3rem 3rem 0 0 #111;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .iletisim-form form input[type="submit"] {
    width: 100%;
    padding: 12px 50px;
  }
}

@media (max-width: 800px) {
  .iletisim-sütun .wp-block-columns {
    display: block !important;
  }

  .iletisim-sütun .wp-block-columns iframe {
    height: 300px !important;
    margin-bottom: 20px;
  }
}

@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column:nth-child(2n) {
    margin-left: 0 !important;
  }
}

.post-edit-link {
  display: none;
}

/* shopping wrap  */
.shopping-wrap {
  position: relative;
}

.shopping-wrap span {
  position: absolute;
  right: 5px;
  top: 0;
  font-size: 12px;
  background-color: #ef4b6e;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  padding: 2px;
  box-sizing: content-box;
  color: #fff;
  transition: 0.2s ease all;
}

.shopping-wrap:hover span {
  box-shadow: inset 3rem 3rem 0 0 #fff;
  color: #111;
}

@media screen and (max-width: 780px) {
  .shopping-wrap span {
    width: 10px;
    height: 10px;
    font-size: 9px;
    font-weight: 600;
    top: -4px;
    right: -2px;
  }
}

/* woocommerce */
.woocommerce-message {
  border-top-color: #ef4b6e;
  line-height: 37px;
}

.woocommerce-message::before {
  color: #ef4b6e;
}

.woocommerce-message a {
  background-color: #111 !important;
  color: #fff !important;
  font-size: 15px !important;
  transition: all 0.2s ease !important;
}

.woocommerce-message a:hover {
  box-shadow: inset 3rem 3rem 0 0 #ef4b6e !important;
}

.orderby {
  background: none;
  border: none;
  outline: inherit;
  padding: 10px 2px;
  background-color: #f7f6f7;
  box-sizing: border-box;
  font-weight: 300;
  cursor: pointer;
  border-radius: 5px;
}

.woocommerce-LoopProduct-link h2 {
  color: #111;
}

.woocommerce ul.products li.product .price {
  color: #111;
  text-decoration: none !important;
}

.woocommerce ul.products li.product .price ins {
  text-decoration: none !important;
  margin-left: 5px !important;
}

.addtocartbutton {
  background-color: #111 !important;
  color: #fff !important;
  transition: 0.3s ease all !important;
  font-size: 15px !important;
}

.woocommerce ul.products li.product .addtocartbutton:hover {
  box-shadow: inset 3rem 3rem 0 0 #ef4b6e !important;
}

.woocommerce img {
  border-radius: 5px;
}

.onsale {
  background-color: #ef4b6e !important;
  padding: 8px 5px !important;
}

/* hesabım */
.woocommerce-MyAccount-navigation ul {
  list-style: none;
}

.woocommerce-MyAccount-navigation ul li a {
  text-decoration: none;
  color: #111;
  padding: 15px 5px;
  display: flex;
  border-bottom: 2px solid #111;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.woocommerce-MyAccount-navigation ul li a::after {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 20px;
  position: relative;
  left: -20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease all;
}

.woocommerce-MyAccount-navigation ul li a:hover::after {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.woocommerce-MyAccount-navigation ul li.is-active a {
  border-bottom-color: #ef4b6e;
}

.woocommerce-MyAccount-navigation ul li.is-active a::after {
  opacity: 1;
  visibility: visible;
  left: 0;
  content: "\f05d";
  font-size: 20px;
  color: #ef4b6e;
}

.woocommerce-MyAccount-content a {
  color: #ef4b6e;
}

.woocommerce-MyAccount-content p {
  margin-bottom: 20px;
}

.woocommerce-Address-title {
  display: flex;
  align-items: center;
}

.woocommerce-Address-title a {
  background-color: #111;
  color: #fff;
  padding: 5px 20px;
  float: none !important;
  margin-left: auto;
  text-decoration: none;
  border-radius: 2px;
  transition: 0.2s ease all;
}

.woocommerce-Address-title a:hover {
  box-shadow: inset 3rem 3rem 0 0 #ef4b6e;
}

/* woocommerce inputs  */

.woocommerce-MyAccount-content .input-text {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #f7f6f7;
  padding: 8px 5px;
  border: 2px solid #efefef;
}

.woocommerce form .form-row .required {
  color: #ef4b6e !important;
}

span > em {
  font-size: 14px;
}

.woocommerce-MyAccount-content fieldset {
  border: 0;
}

.woocommerce-MyAccount-content legend {
  display: flex;
  border-bottom: 2px solid #ef4b6e;
  padding: 10px 0;
  width: 100%;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.woocommerce-MyAccount-content legend::after {
  content: "\f09c";
  font-family: FontAwesome;
  font-size: 20px;
  position: relative;
  transition: 0.3s ease all;
  color: #ef4b6e;
}

.woocommerce form .show-password-input,
.woocommerce-page form .show-password-input {
  top: 4px !important;
}

.woocommerce-MyAccount-content p label {
  font-size: 14px;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: #111;
  color: #fff;
  transition: 0.5s ease all;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  box-shadow: inset 3rem 3rem 0 0 #ef4b6e;
}

/* anasayfa wooloop */
.third-content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.collection-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 50px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.collection-title-inner {
  padding: 5px 0;
  border-bottom: 3px solid #ef4b6e;
  font-family: "Monaco";
}

.show-all-button {
  text-align: center;
}

.show-all-button a {
  padding: 7px 10px 7px 10px;
  background-color: #111;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease all;
}

.show-all-button a::after {
  content: "\f054";
  font-family: FontAwesome;
  margin-left: 5px;
  font-size: 10px;
}

.show-all-button a:hover {
  box-shadow: inset 3rem 3rem 0 0 #ef4b6e;
}

.fourth-content {
  padding-bottom: 50px;
}

/* tekil ürün */

.woocommerce div.product p.price {
  color: #ef4b6e !important;
  font-size: 25px !important;
}

.woocommerce-product-details__short-description {
  line-height: 30px;
  font-size: 17px;
  letter-spacing: 1.1px;
  margin: 20px 0;
  padding-bottom: 30px;
}

.woocommerce .quantity .qty {
  width: 60px;
  height: 45px;
  outline: none;
  border: 1px solid #efefef;
}

.single-product div.product form.cart .quantity {
  float: none;
  margin: 0;
  display: inline-block;
}

.qty_button {
  width: 45px;
  height: 45px;
  outline: none;
  border: 1px solid #efefef;
}

.woocommerce div.product form.cart .button {
  height: 45px !important;
  margin-left: 20px !important;
  background-color: #111 !important;
  color: #fff !important;
  transition: 0.2s ease all;
}

.woocommerce div.product form.cart .button:hover {
  box-shadow: inset 3rem 3rem 0 0 #ef4b6e;
}

.posted_in a {
  color: #ef4b6e;
  text-decoration: none;
}

.woocommerce-Tabs-panel--description h2 {
  margin-bottom: 10px !important;
}

.woocommerce-Tabs-panel--description > div > div {
  line-height: 30px;
  font-size: 17px;
  letter-spacing: 1.1px;
}

.related h2 {
  margin-bottom: 20px !important;
}

/* checkout */

.checkout-button {
  background-color: #ef4b6e !important;
  color: #fff !important;
}

.product-name a {
  color: #111 !important;
  text-decoration: none !important;
  font-weight: 600;
}

.cart_totals h2 {
  margin-bottom: 15px;
}
